*{
    padding: 0;
    margin: 0;
}
.outerMost{
    background-color:hsl(212, 45%, 89%) ;
}
.main{
   /* width: 60%;*/
  /* box shadow:[horizontal offset] [vertical offset][blur radius][spread radius][color][inset(optionl)*/
    margin: 150px;
    background-color:hsl(0, 0%, 100%) ;
    border-radius: 12px;
   box-shadow:12px 12px 5px 5px rgb(117, 109, 109) ;
}
.container{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
img{
    border-radius: 12px;
}
.firstParagraph{
    font-weight: 700;
    font-size:larger;
    padding-top: 9px;

}
.secondParagraph{
    font-weight: 400;
    opacity: 0.5;
    padding-top: 5px;
}
